!!! 5
	%head
    %meta(charset="UTF-8")
    %title
      dwarf-like
		%link(rel="stylesheet" type="text/css" href="css/style.css")
	%body
    .container.container-fixed
      #app
%script(src="index.js")